[submodule "asmjit"]
	path = asmjit
	url = https://github.com/ihr486/asmjit.git
[submodule "MsTestEmulator"]
	path = MsTestEmulator
	url = https://github.com/ihr486/MsTestEmulator.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
