*
!*.cgr
!*.cpp
!*.hpp
!*.h
!*.py
!*.sln
!*.vcproj
!*.vcxproj
!*.vcxproj.filters
!*.props
!*.pyproj
!.gitignore
!.gitmodules
!CMakeLists.txt
!*.sh
!UnitTest1
!tests
!src
!src/core
!src/tool
!src/pydll
!src/python
!asmjit
!MsTestEmulator
!grammars
!datasets
!benchmarks
!benchmarks/cpp
!benchmarks/python
!rapidjson
!pugixml
