*
!*.cgr
!*.cpp
!*.hpp
!*.h
!*.py
!*.sln
!*.vcproj
!*.vcxproj
!*.vcxproj.filters
!*.props
!*.pyproj
!.gitignore
!.gitmodules
!CMakeLists.txt
!*.sh
!vc
!vc/PyCentaurus
!UnitTest1
!tests
!src
!src/core
!src/tool
!src/pydll
!src/python
!asmjit
!MsTestEmulator
!grammar
!python
!python/Centaurus
!PythonApp1
!PythonApp1/Centaurus
!benchmarks
